*.cbp
*.layout
*.depend
*.user
!Dependencies/irrKlang-*.zip
!Dependencies/irrlicht-*.zip
!Dependencies/tinyxml2-*.zip
Dependencies/irrKlang-*/
Dependencies/irrlicht-*/
Dependencies/tinyxml2*/
*~
build
.DS_Store
.vs
CMakeSettings.json
.project
